<div *ngIf="!submitted">
  <form *ngIf="form" [formGroup]="form" class="d-flex flex-column" (ngSubmit)="upDate()">
    <label>
      Name
      <input type="text" formControlName="name" class="form-control" id="name">
    </label>

    <label>
      Longitude:
      <input type="number" formControlName="longitude" class="form-control" id="longitude">
    </label>


    <div *ngIf="errorMessage('location', 'required')" class="alert alert-danger">
      Coordinates is required.
    </div>
    <div id="LongitudeError" *ngIf="errorMessage('longitude', 'pattern')" class="alert alert-danger">
      The coordinates format is incorrect
    </div>


    <label>
      Latitude
      <input type="number" formControlName="latitude" class="form-control" id="latitude">
    </label>
    <div *ngIf="errorMessage('latitude', 'required')" class="alert alert-danger">
      Coordinates is required.
    </div>
    <div id="LatitudeError" *ngIf="errorMessage('latitude', 'pattern')" class="alert alert-danger">
      The coordinates format is incorrect
    </div>

    <label>
      Country
      <input type="text" formControlName="country" class="form-control" id="country">
    </label>

    <label>
      Description
      <input type="text" class="form-control" formControlName="description" id="description">
    </label>

    <div *ngIf="errorMessage('description', 'required')" class="alert alert-danger">
      Description is required.
    </div>
    <div id="DescriptionError" *ngIf="errorMessage('description', 'maxlength')" class="alert alert-danger">
      text is too long!
    </div>

    <label>
      Colour
      <select formControlName="color" class="form-select" aria-label="Default select example" id="color">
        <ng-container *ngFor=" let color of colors ; let index =index">
          <option [value]="color[0]">{{color[1]}}</option>
        </ng-container>
      </select>
    </label>

    <div class="d-flex justify-content-between mt-2">
      <button type="submit" class="btn btn-outline-primary" [disabled]="form.invalid" id="update">Update</button>
    </div>
  </form>
</div>

<div *ngIf="submitted">
  <h4 id="success">{{message}}</h4>
</div>
