<div class="modal-header">
  <h4 class="modal-title">Detail</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-container *ngIf="currentSight">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{currentSight.name}}</h4>
    </div>
    <div class="modal-body">
      <ul class="list-group">
        <li class="list-group-item">ID: {{currentSight.id}}</li>
        <li class="list-group-item">Country: {{currentSight.country}}</li>
        <li class="list-group-item">latitude: {{currentSight.latitude}}</li>
        <li class="list-group-item">longitude: {{currentSight.longitude}} </li>
        <li class="list-group-item">Description: {{currentSight.description}}</li>
      </ul>
    </div>
  </ng-container>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
